Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<ul>
<li><a href="$|href0|$" target="blank">text0</a></li>
<li><a href="$|href1|$" target="blank">text1</a></li>
</ul>
<div><img src='$|img3|$' /></div> <img src='$|img4|$' /> <img src='$|img5|$' /> <img src='$|img4|$' /> <img src='$|img7|$' />

<img src="$|img8|$" border="0" height="250" width="300"><img src="$|img9|$" style="border:none;" height="0" width="0">
Best Regards!
<span>
	<a style="COLOR: #000; FONT-SIZE: 12px" href="$|href2|$">名家</a>
</span>