Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<ul>
<li><a href="$|href0|$" target="blank">$|text2|$</a></li>
<li><a href="$|href1|$" target="blank">$|text3|$</a></li>
</ul>
<div><img src='$|img4|$' /></div>
<img src='$|img5|$' />
<img src='$|img6|$' />
<img src='$|img5|$' />
<img src='$|img8|$' />
Best Regards!