Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<ul>
<li><a href="$|jingdong|$"target="blank">$|jingdong_name|$</a></li>
<li><a href="$|printer|$"target="blank">$|printer_name|$</a></li>
</ul>
<img src="$|img1|$" />
Best Regards!