Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<table width="650" border="0" cellpadding="0" cellspacing="0" style="margin-left: auto;

    margin-right: auto; font-size: 12px; color: #333;" align="center">

    <tbody><tr>

        <td width="429" rowspan="2" align="left">

            <a href="$|href0|$" target="_blank">

                <img src="$|img105|$" alt="京东商城" width="139" height="37" border="0"></a>

        </td>

        <td height="24" colspan="6" align="right">

            <!--EdmWebShow_Begin--><!--EdmWebShow_End-->

        </td>

    </tr>

    <tr>

        <td width="24" height="20" align="left">

            <img src="$|img106|$" width="19" height="20">

        </td>

        <td width="54" align="left">

            <a href="$|href1|$" target="_blank" style="color: #1971A7">我的京东</a>

        </td>

        <td width="27" align="left">

            <img src="$|img107|$" width="22" height="20">

        </td>

        <td width="40" align="left">

            <a href="$|href2|$" target="_blank" style="color: #1971A7">购物车</a>

        </td>

        <td width="22" align="left">

            <img src="$|img108|$" width="18" height="20">

        </td>

        <td width="54" align="left">

            <a href="http://csc.360buy.com/edm.ashx?type1=edm&type2=stats&data=%3C%userclickcount%%3E&redirect=http://click.union.360buy.com/JdClick/?unionId=267$siteId=1$to=$|href0|$/help/faq.aspx" target="_blank" style="color: #1971A7">帮助中心</a>

        </td>

    </tr>

</tbody></table>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3B9BD2" style="font-weight:700;margin-left:auto;margin-right:auto;font-size:12px;color:#333;">

  <tbody><tr>

    <td align="left" width="10" height="37"><img src="$|img109|$" width="10" height="37"></td>

    <td align="center"><a style="COLOR: #fff; TEXT-DECORATION: none" href="$|href0|$/" target="_blank">首页</a><font color="#FFFFFF">&nbsp;|&nbsp;</font><a style="COLOR: #fff; TEXT-DECORATION: none" href="$|href0|$/book.html" target="_blank">图书</a><font color="#FFFFFF">&nbsp;|&nbsp;</font><a style="COLOR: #fff; TEXT-DECORATION: none" href="$|href0|$/electronic.html" target="_blank">家电</a><font color="#FFFFFF">&nbsp;|&nbsp;</font><a style="COLOR: #fff; TEXT-DECORATION: none" href="$|href0|$/allSort.aspx" target="_blank">全部</a></td>

    <td align="right" width="10"><img height="37" src="$|img110|$" width="10"></td>

  </tr>

</tbody></table>

<table width="650" height="28" border="0" align="center" cellpadding="0" cellspacing="0" id="__01"><tbody><tr><td><a href="$|href8|$" target="_blank"><img style="display:block;" src="$|img111|$" width="84" height="28" border="0" alt=""></a></td><td><a href="$|href9|$" target="_blank"><img style="display:block;" src="$|img112|$" width="89" height="28" border="0" alt=""></a></td><td><a href="$|href10|$" target="_blank"><img style="display:block;" src="$|img113|$" width="95" height="28" border="0" alt=""></a></td><td><a href="$|href11|$" target="_blank"><img style="display:block;" src="$|img114|$" width="86" height="28" border="0" alt=""></a></td><td><a href="$|href12|$" target="_blank"><img style="display:block;" src="$|img115|$" width="99" height="28" border="0" alt=""></a></td><td><a href="$|href13|$" target="_blank"><img style="display:block;" src="$|img116|$" width="100" height="28" border="0" alt=""></a></td><td><a href="$|href14|$" target="_blank"><img style="display:block;" src="$|img117|$" width="97" height="28" border="0" alt=""></a></td></tr></tbody></table>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

        <tbody><tr>

            <td>

                <a href="$|href15|$" target="_blank">

                    <img src="$|img118|$" width="650" style="display:block;" height="60" border="0" alt="京东商城EDM官方微博"></a>

            </td>

        </tr>

</tbody></table>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

        <tbody><tr>

            <td>

                <!--bannerImage    begin-->

                <a href="$|href16|$" target="_blank">

                    <img src="$|img119|$" width="650" style="display:block;" height="280" border="0" alt="banner"></a>

                <!--bannerImage    end-->

            </td>

        </tr>

    </tbody></table>



<table width="650" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #d8d6d6;">

    <tbody><tr bgcolor="#FFFFFF">

        <td>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td width="250">

                        <img src="$|img120|$" width="240" height="28" alt="活动资讯">

                    </td>

                    <td width="380" align="left">

                        <img src="$|img121|$" width="380px" height="28px" alt="活动资讯">

                        

                    </td>

                </tr>

            </tbody></table>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td width="240">

                        <table width="240" height="30" border="0" align="left" cellpadding="0" cellspacing="0" style="margin: 0px 0px 5px 0px;">

                            <!--news begin-->


                            <tbody><tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8762">

                                        ·新学期富士通电脑促销！ </a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8688">

                                        ·同方本青春范儿特价促！</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8660">

                                        ·华硕主板开学季，送内存！</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8658">

                                        ·社区“玩家部落”logo意见有奖征集</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8589">

                                        ·富士通特惠电脑推荐</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8571">

                                        ·广视角显示器血拼800起！</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8569">

                                        ·大行激光笔专场、体验无线演示带来的自由</a>

                                </td>

                            </tr>


                            <tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px; color: #333333; padding-left: 20px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/news.aspx?id=8568">

                                        ·10年飞鱼星,直降1000元！</a>

                                </td>

                            </tr>


                            <!--news end-->

                        </tbody></table>

                    </td>

                    <td width="380">

                        <table width="380" height="30" border="0" align="right" cellpadding="0" cellspacing="0" style="margin-top: 0px">

                            <tbody><tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px;">

                                    <!--product begin-->


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/664311.html">

                                                    <img src="$|img122|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/664311.html">

                                                    索尼（SONY）SVT13117ECS 13.3英寸超极本（i5<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img123|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=664311@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/670-671-6864.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/673104.html">

                                                    <img src="$|img125|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/673104.html">

                                                    华硕（ASUS）N43EI267SL-SL 14.0 英寸笔记本<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img126|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=673104@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/670-671-672.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <!--product end-->

                                </td>

                            </tr>

                        </tbody></table>

                    </td>

                </tr>

            </tbody></table>

            


            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <!--product begin-->


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/685860.html">

                                        <img src="$|img128|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/685860.html">

                                        东芝（TOSHIBA）L800-S22W 14英寸笔记本电脑<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img129|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=685860@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/696736.html">

                                        <img src="$|img131|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/696736.html">

                                        富士通（FUJITSU）LH532 14英寸笔记本电脑(i5<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img132|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=696736@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/673288.html">

                                        <img src="$|img134|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/673288.html">

                                        戴尔（Dell）I2020R-186一体电脑（双核i3-212<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img135|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=673288@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/593241.html">

                                        <img src="$|img137|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/593241.html">

                                        戴尔（DELL）Ins14V-586B 14英寸笔记本电脑（<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img138|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=593241@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <!--product end-->

                </tr>

            </tbody></table>


        </td>

    </tr>

</tbody></table>

    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 0px;

        margin-bottom: 0px;">

        <tbody><tr>

            <td>

                <a href="$|href45|$" target="_blank">

                    <img src="$|img140|$" width="650px" border="0" alt="广告" style="display:block;"></a>

            </td>

        </tr>

    </tbody></table>

<table width="650" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #d8d6d6;">

    <tbody><tr bgcolor="#FFFFFF">

        <td>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td>

                        <img src="$|img141|$" width="630px" height="28px" border="0">

                    </td>

                </tr>

            </tbody></table>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td width="240">

                        <table width="240" height="30" border="0" align="left" cellpadding="0" cellspacing="0" style="margin: 0px 0px 5px 0px;">

                            <tbody><tr>

                                <td colspan="2">

                                    <!--ChildBannerImage1 begin-->

                                    <a href="$|href46|$" target="_blank">

                                        <img src="$|img142|$" width="238" height="210" border="0" alt="广告"></a>

                                    <!--ChildBannerImage1 end-->

                                </td>

                            </tr>

                        </tbody></table>

                    </td>

                    <td width="380">

                        <table width="380" height="30" border="0" align="right" cellpadding="0" cellspacing="0" style="margin-top: 0px">

                            <tbody><tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px;">

                                    <!--product begin-->


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/683380.html">

                                                    <img src="$|img143|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/683380.html">

                                                    台电（Teclast） P85双核 8寸 1024*768 纯平<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img144|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=683380@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/652-828-843.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/643044.html">

                                                    <img src="$|img146|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/643044.html">

                                                    智器（SmartQ）Q8 德仪OMAP4双核Android4.0系<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img147|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=643044@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/652-828-843.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <!--product end-->

                                </td>

                            </tr>

                        </tbody></table>

                    </td>

                </tr>

            </tbody></table>


            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <!--product begin-->


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/349218.html">

                                        <img src="$|img149|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/349218.html">

                                        好记星 V11掌上名师受教学习机 黑色<font style="font-size: 12px; color: #ff6600;">4折！直降</font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img150|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=349218@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/584115.html">

                                        <img src="$|img152|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/584115.html">

                                        奥林巴斯（OLYMPUS） SP-720UZ 数码相机 黑色<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img153|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=584115@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/652409.html">

                                        <img src="$|img155|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/652409.html">

                                        索尼（SONY） DSC-TX20 数码相机 黑色（1620<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img156|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=652409@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/667779.html">

                                        <img src="$|img158|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/667779.html">

                                        希捷（Seagate）Expansion 新睿翼500G 2.5英<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img159|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=667779@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <!--product end-->

                </tr>

            </tbody></table>


            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <!--product begin-->


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/657808.html">

                                        <img src="$|img161|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/657808.html">

                                        SanDisk（闪迪）至尊极速（CZ80）16GB U盘 US<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img162|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=657808@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/641459.html">

                                        <img src="$|img164|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/641459.html">

                                        金光（APP）百思达70克A4复印纸（5包/箱）<font style="font-size: 12px; color: #ff6600;">惊</font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img165|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=641459@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/278918.html">

                                        <img src="$|img167|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/278918.html">

                                        腾达（TENDA）837R 300M无线路由器<font style="font-size: 12px; color: #ff6600;">电脑数码全</font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img168|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=278918@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/646055.html">

                                        <img src="$|img170|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/646055.html">

                                        富勒（Fuhlen）MK650 节能无线键鼠套装 黑色<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img171|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=646055@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <!--product end-->

                </tr>

            </tbody></table>


        </td>

    </tr>

</tbody></table>



    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 0px;

        margin-bottom: 0px;">

        <tbody><tr>

            <td>

                <a href="$|href79|$" target="_blank">

                    <img src="$|img173|$" width="650px" border="0" alt="广告" style="display:block;"></a>

            </td>

        </tr>

    </tbody></table>

<table width="650" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #d8d6d6;">

    <tbody><tr bgcolor="#FFFFFF">

        <td>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td>

                        <img src="$|img174|$" width="630px" height="28px" border="0">

                    </td>

                </tr>

            </tbody></table>

            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <td width="240">

                        <table width="240" height="30" border="0" align="left" cellpadding="0" cellspacing="0" style="margin: 0px 0px 5px 0px;">

                            <tbody><tr>

                                <td colspan="2">

                                    <!--ChildBannerImage1 begin-->

                                    <a href="$|href80|$" target="_blank">

                                        <img src="$|img175|$" width="238" height="210" border="0" alt="广告"></a>

                                    <!--ChildBannerImage1 end-->

                                </td>

                            </tr>

                        </tbody></table>

                    </td>

                    <td width="380">

                        <table width="380" height="30" border="0" align="right" cellpadding="0" cellspacing="0" style="margin-top: 0px">

                            <tbody><tr>

                                <td colspan="2" style="font-size: 12px; line-height: 27px;">

                                    <!--product begin-->


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/493348.html">

                                                    <img src="$|img176|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/493348.html">

                                                    飞利浦（Philips）237E3QPHSU 23英寸IPS宽屏L<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img177|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=493348@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/670-677-688.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <table width="378" height="91" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;

                                        margin-top: 5px; border-bottom: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;">

                                        <tbody><tr>

                                            <td width="112" rowspan="5" align="center" valign="top">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/701045.html">

                                                    <img src="$|img179|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                            </td>

                                            <td height="38" colspan="2" style="font-size: 12px; word-break: break-all; line-height: 20px;">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/701045.html">

                                                    三星（SAMSUNG）S24A650S 24英寸LED背光宽屏M<font style="font-size: 12px; color: #ff6600;"></font></a>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="color: #999999; font-size: 12px; line-height: 15px;" colspan="2">

                                                <font style="color: #FF0000;"><strong>京东价：<img src="$|img180|$" alt="京东价" border="0"></strong></font>

                                            </td>

                                        </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">

                                            <td height="21" class="style1">

                                                <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=701045@pcount=1@ptype=1">

                                                    <img src="$|img124|$" width="63" height="21" alt="购买" style="border: 0px;"></a>

                                            </td>

                                            <td width="144" style="font-size: 12px; color: #d8d6d6;">

                                                <a style="color: #ff0000; text-decoration: none" href="$|href0|$/products/670-677-688.html">

                                                    更多同类商品</a>

                                            </td>

                                        </tr>

                                    </tbody></table>


                                    <!--product end-->

                                </td>

                            </tr>

                        </tbody></table>

                    </td>

                </tr>

            </tbody></table>


            <table width="630" height="30" border="0" cellpadding="0" cellspacing="0" style="margin: 5px 8px 5px 8px;">

                <tbody><tr>

                    <!--product begin-->


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/557257.html">

                                        <img src="$|img182|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/557257.html">

                                        酷冷至尊（CoolerMaster）挑战者 战斗版（K30<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img183|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=557257@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/348678.html">

                                        <img src="$|img185|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/348678.html">

                                        安钛克（Antec）VP 550P 额定550W 120mm静音<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img186|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=348678@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/346446.html">

                                        <img src="$|img188|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/346446.html">

                                        技嘉（GIGABYTE）GV-N560OC-1GI 900/4000 102<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img189|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=346446@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <td width="25%">

                        <table width="157" border="0" align="left" cellpadding="0" cellspacing="0">

                            <tbody><tr>

                                <td align="center" style="padding-bottom: 10px;">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="$|href0|$/product/435907.html">

                                        <img src="$|img191|$" width="100" height="100" style="border: 0px;" alt="商品图片"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; line-height: 140%; color: #333333; word-break: break-all;

                                    overflow: hidden;" height="60px">

                                        <a style="color: #333; text-decoration: none; width: 150px; display: inline-block;" target="_blank" href="$|href0|$/product/435907.html">

                                        华硕(ASUS)M5A97 EVO主板(AMD 970/Socket AM3<font style="font-size: 12px; color: #ff6600;"></font></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%">

                                    <strong>京东价：<img src="$|img192|$" alt="京东价" border="0"></strong>

                                </td>

                            </tr>

                            <tr>

                                <td align="center">

                                    <a style="color: #333; text-decoration: none" target="_blank" href="http://jd2008.360buy.com/purchase/InitCart.aspx?pid=435907@pcount=1@ptype=1">

                                        <img src="$|img130|$" width="84" height="23" style="border: 0px;" alt="立即抢购"></a>

                                </td>

                            </tr>

                            <tr>

                                <td align="center" style="font-size: 12px; color: #FF0000; line-height: 200%;">

                                    <strong></strong>

                                </td>

                            </tr>

                        </tbody></table>

                    </td>


                    <!--product end-->

                </tr>

            </tbody></table>


        </td>

    </tr>

</tbody></table>



    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 0px;

        margin-bottom: 0px;">

        <tbody><tr>

            <td>

                <a href="$|href9|$" target="_blank">

                    <img src="$|img194|$" width="650px" border="0" alt="广告" style="display:block;"></a>

            </td>

        </tr>

    </tbody></table>

<table width="650" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden;

        border: 1px solid #d8d6d6; margin: 0 auto 10px; line-height: 120%; font-size: 12px;

        color: #333" align="center">

        <tbody><tr>

            <td style="padding: 10px;">

                <div>

                    <p>

                       因为您曾经在京东商城购物，所以会收到这封邮件。我们根据您的购物、浏览习惯向您推荐您可能感兴趣的商品，希望能给您在个人购物之外，偶遇高价值商品的惊喜。我们保证仅向您发送关于京东商城的产品、促销优惠以及服务的电子邮件。京东商城尊重并保护您的隐私。<br>

                      

                        如您不愿意继续接收来自京东商城的本类邮件，请点击<a href="$|href102|$" style="color: #FF3633">退订本类邮件</a>。<br>

                        <br>

                        <img src="$|img195|$" align="absmiddle" class="float_L" style="margin-right: 4px;">商品价格或促销内容如有调整，以京东商城上最终页面为准。任何问题欢迎您致电或邮件联系京东商城客服中心：400-606-5500。如有问题也请访问<a href="$|href0|$/help/faq.aspx" target="_blank" style="color: #1971A7">帮助中心</a>。</p>

                </div>

                <div style="text-align: center; margin-top: 28px; color: #333">

                    <a href="$|href0|$/" target="_blank">

                        <img src="$|img196|$" border="0"></a><br>

                    Copyright ©2004-2012&nbsp;京东商城&nbsp;版权所有</div>

            </td>

        </tr>

</tbody></table>