Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<div>
<div>
<div>
<table cellspacing="0" cellpadding="0" width="700" border="0">
<tbody>
<tr>
<td colspan="2"><a href="$|href0|$" target="_blank"><img height="182" src="$|img13|$" width="700" border="0"></a></td></tr>

<tr>
<td colspan="2"><a href="$|href1|$" target="_blank"><img height="39" src="$|img14|$" width="700" border="0"></a></td>
</tr>
<tr>
<td colspan="2"><img height="79" src="$|img15|$" width="700" border=3D"0"></td></tr>
<tr>
<td colspan="2"><a href="http://www.ctfeshop.com.cn/special/nomination.aspx?affiliate=3D01cmcchinaedm" target="_blank"><img height="205" src="$|img16|$" width="700" border="0"></a></td>
</tr>
<tr>
<td colspan="2"><a href="$|href3|$" target="_blank"><img height="207" src="$|img17|$" width="700" border="0"></a></td>
</tr>
<tr>
<td colspan="2"><a href="http://topic.hyj.com/activity/juhui120704/?utm_source=3Dzhaohang&amp;utm_medium=3Dcpc&amp;utm_campaign=3Dr071101" target="_blank"><img height="222" src="$|img18|$" width="700" border="0"></a></td>
</tr>
<tr>
<td><a href="$|href5|$" target="_blank"><img height="208" src="$|img19|$" width="354" border="0"></a></td>
<td><a href="http://www.yhyyh.com/topic.php?topic_id=3D295" target="_blank"><img height="208" src="$|img20|$" width="346" border="0"></a></td></tr>
<tr>
<td><a href="$|href7|$" target="_blank"><img height="216" src="$|img21|$" width="354" border="0"></a></td>

<td><a href="http://www.5lux.com/othersubjects/20120615/index.php?utm_source=3Dothers&amp;utm_medium=3Dcpc&amp;utm_campaign=3DChina%2BMerchants%2BBank%2B-%2Bthe%2BDragon%2BBoat%2BFestival" target="_blank"><img height="216" src="$|img22|$" width="346" border="0"></a></td>
</tr>
<tr>
<td><a href="http://www.xingfulz.com/?article-76.html" target="_blank"><img height="213" src="$|img23|$" width="354" border="0"></a></td>
<td><a href="$|href10|$" target="_blank"><img height="213" src="$|img24|$" width="346" border="0"></a></td></tr>

<tr>
<td><a href="$|href11|$" target="_blank"><img height="283" src="$|img25|$" width="354" border="0"></a></td>
<td><a href="$|href12|$" target="_blank"><img height="283" src="$|img26|$" width="346" border="0"></a></td></tr></tbody></table>

</div>
</div>
