Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<div class="post" itemscope="" itemtype="http://schema.org/Article">
	<div class="post_content" itemprop="articleBody">
		<p>
			伦敦奥运会拉开帷幕的日子就来到了，各种运动科技<a href="$|href0|$" target="_blank">产品</a>都纷纷登场。本篇挑选了其中两套产品给大家详细介绍：水里游的、地上跑的。下面一起来看看那些为参赛运动员们准备的	<a href="$|href1|$" target="_blank">科技</a>装备吧……
		</p>
		<p>
			<img class="aligncenter" title="奥运科技装备" src=$|img6|$ alt="奥运科技装备" height="250" width="450">
		</p>
		<h3>三合一鲨鱼装</h3>
		<p>
			在2008年的北京奥运会中，水立方诞生了30个游泳项目的奥运会记录，其中共有17人5队24次改写了21项世界纪录。是什么原因让游泳运动员们变得更高、更快、更强？这里面当然离不开科技的帮助。速比涛（Speedo）的第四代鲨鱼皮泳衣LZR Racer可谓高科技泳衣的典范。LZR Racer模仿鲨鱼皮的原理，经过超声波粘合结合成型，可以使运动员的腹部处于最佳泳姿，令他们多呼入5%的空气并且极大地减少阻力。但如雨后春笋般出现的新纪录也触动了监管机构的神经，为削弱科技对奥运金牌的影响力，国际泳联（FINA）于2010年修改了比赛规则，禁止运动员在比赛中穿着高科技泳衣。但俗话说“上有政策下有对策”，为了迎接即将到来的伦敦奥运会，速比涛再次推出了他们的新型泳衣——Fastskin3三合一鲨鱼装。
		</p>
		<p>
			在国际泳联的新比赛规则中，并没有规定运动员必须穿着统一的泳衣或是泳衣只能使用某种特定材质。相对应的，国际泳联仅规定了参赛运动员能够使用泳衣覆盖的体表范围。对于男性运动员而言，这个区域是腰部到膝部；对于女性运动员而言，可以覆盖从肩部到膝部的体表。如此的规定虽然封杀了曾经的鲨鱼皮泳衣，不过却为新一代科技泳衣留下了发展的空间。
		</p>
		<p>
			Fastskin3三合一鲨鱼装包含泳帽、泳镜和泳裤三件，剪裁设计完全符合国际泳联的新规则。当然，科技泳衣中最重要的就是它的科技元素。Fastskin3三合一鲨鱼装采用有限元分析软件ANSYS进行科学分析，分析结果显示一个全套穿戴的运动员在潜入水中时最多可以减少16.6%的水阻，在特定游速下，运动员可减少最多达10%的氧气需求，不断变化的体姿所带动的干扰水流也将降低5.2个百分点。
		</p>
		<p style="text-align: center;">
			<img class="aligncenter" title="奥运科技装备" src=$|img7|$ alt="奥运科技装备" height="550" width="550">Fastskin3套装在ANSYS软件中进行了多次分析，得出了最终设计方案
		</p>
		<p>
			Fastskin3的设计结合了流体力学与结构力学的科研成果。以鲨鱼装中的泳帽为例：速比涛精心设计了泳帽的款型，使其能够最大程度地减少水阻与水流影响；他们还尝试了多种材料和制造工艺，以保证泳帽能够在比赛中顺利发挥功效。
		</p>
		<p style="text-align: center;">
			<img class="aligncenter" title="奥运科技装备" src=$|img8|$ alt="奥运科技装备" height="488" width="550">左图是传统泳帽，右图是经过重新设计的Fastskin3泳帽
		</p>
		<p>
			Fastskin3三合一鲨鱼装中的每个部件都是不可或缺的，全套套装要共同使用才能发挥出最好的效果。软件模拟很好地向大家解释了这些部件是如何互相辅助的。在Fastskin3设计的收尾阶段，速比涛公司还请来美国游泳名将纳塔莉·考芙林（Natalie Coughlin）、瑞恩·罗切特（Ryan Lochte）和迈克尔·菲尔普斯（Michael Phelps）上身试穿，为正式投放市场预热。
		</p>
		<p style="text-align: center;">
			<img class="aligncenter" title="奥运科技装备" src=$|img9|$ alt="奥运科技装备" height="600" width="341">菲尔普斯试穿Fastskin3
		</p>
		<p>
			“工程仿真模拟技术给我们的研发工作提供了很大的帮助，”速比涛全球研发机构负责人汤姆·沃勒（Tom Waller）如是说，“我们开发的产品通过科技手段，帮助游泳运动员以最少阻力在水中遨游。也正因为有了科技，我们的研发才能够如此顺利，如今我们不再需要大动干戈地去做实物测试，只要通过ANSYS软件进行仿真模拟，我们就可以确定自己的努力会在真实世界中发挥效果。”</p><p>新一代鲨鱼装是否又会重蹈前辈覆辙被划入禁区呢？这很大程度上取决于伦敦奥运会上运动员们的表现。伦敦奥运会就将盛大开幕，让我们一同期待。
		</p>
		<p>
			<strong>讲完了水里游的，自然不能少了地上跑的，让我们来看看为短跑运动员们准备的科技装备吧。</strong>
		</p>
		<p>
			自2009年8月17日博尔特在柏林世锦赛以9.58秒打破世界纪录之后，这个数字已有近三年未曾改变，这意味着两周后开始的伦敦奥运会将很可能见证人类速度极限的再次突破。除了指望牙买加“非人”的再次爆发，还有一大波研究运动装备的科学家们也希望能用自己的努力实现“更高、更快、更强”的目标。
		</p>
		<h3>短跑运动服</h3>
		<p>
			<a class="selflink" href="$|href2|$">
				<img class="aligncenter" title="奥运科技装备" src=$|img10|$ alt="奥运科技装备" height="668" width="460">
			</a>
		</p>
		<p>
			耐克近日发布了他们最新的科研产品——<a href="$|href3|$" target="_blank">Nike Pro TurboSpeed运动服</a>。这款运动服的特殊之处在于，它可以减少运动员在跑步时受到的风阻，从而达到提升成绩的目的。风洞试验结果显示，这款Nike Pro TurboSpeed最多可以为百米短跑运动员提高0.023秒的成绩。0.023秒对于一名职业短跑运动员而言，已经是一个非常可观的数字了。
		</p>
		<p>
			值得一提的是，这件科技运动服的设计创意竟然是来源于高尔夫球。我们都知道，在大多数的高尔夫球上有300-500个小浅坑，这些小浅坑可以让球飞行的更高、更远。耐克把球面上的这些小坑称为“表面构架技术”。高尔夫球在飞行时，球体表面的凹凸不平会破坏球体四周原本平整的空气层，从而达到减少空气阻力的效果。耐克深信这套体系可以照搬到运动服上。他们在Nike Pro TurboSpeed运动服的肩部、臂部和小腿部分都采用了类似的小浅坑设计，而这三个部分在运动员奔跑时产生的阻力是最大的。</p><p><img class="aligncenter" title="奥运科技装备" src=$|img11|$ alt="奥运科技装备" height="609" width="550"></p><p>在2012年伦敦奥运会的比赛中，来自于中国、美国、俄罗斯和德国的部分参赛选手都将穿着这套高科技运动服参赛，到时候我们便可以一同见证，看耐克的设计是否真如他们所言会对运动员有所帮助。
		</p>
		<h3>跑鞋</h3>
		<p>
			<img class="aligncenter" title="奥运科技装备" src=$|img12|$ alt="奥运科技装备" height="369" width="550">
		</p>
		<p>
			对于一名短跑运动员而言，跑鞋无疑是最重要的装备。如何能给运动员打造一双“得心应脚”的跑鞋？法籍设计师吕克·福萨洛（Luc Fusaro）正在使用$|text5|$打印技术为运动员们打造最合脚的跑鞋。福萨洛正求学于英国皇家艺术学院和帝国理工学院，他的硕士毕业设计就是研究跑鞋上的鞋钉。
		</p>
		<p>
			制鞋时，福萨洛先采集运动员的双足数据以建立$|text5|$模型。完成之后，他使用$|text5|$打印技术，将烧结尼龙聚酰胺粉烧结为多种不同硬度的鞋底。福萨洛再通过实验对这些鞋底进行检测，找出其中机械性能最强的那一款。最后，他将该鞋底投入生产流程，使之成为一双能够穿着的成品。
		</p>
		<p>
			使用<a href="$|href4|$" target="_blank">$|text5|$</a>打印技术制作出的跑鞋可以根据运动员双脚的形状特别定制，且重量仅有96克。福萨洛向外界介绍说，这款跑鞋可以为运动员提高3.5％的成绩。要知道，3.5%的提升对运动员而言很可能就意味着冠军，所以福萨洛将此鞋命名为“为赢而生（Designed to Win）”。
		</p>
		<p>
			令人遗憾的是，这双鞋很可能不会出现在2012伦敦奥运会上，我们得等到2016年的里约奥运会才能看到它大放光彩。不过到了那个时候，每个运动员都穿“为赢而生”跑鞋，究竟谁才能赢呢？
		</p>
		<p>
			话说回来，虽说科技的发展日新月异，科技产品在体育竞技中所占的地位也会越来越重要，但是运动员想取胜最终还得依靠自己的实力，科技不能够也不应该成为改变比赛结果的因素。四年一度的体育盛事又将到来，让我们一同为运动健儿们加油吧。
		</p>
	</div>
</div>