Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<ul>
<li><a href="$|href0|$" target="blank">text0</a></li>
<li><a href="$|href1|$" target="blank">text1</a></li>
</ul>
<div><img src='$|img3|$' /></div> <img src='$|img4|$' /> <img src='$|img5|$' /> <img src='$|img4|$' /> <img src='$|img7|$' />

<img src="$|img8|$" border="0" height="250" width="300"><img src="$|img9|$" style="border:none;" height="0" width="0">
Best Regards!
<span style="TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 33px; DISPLAY: block; BACKGROUND: url(http://img.caijing.com.cn/www/images/index/cjinfo.gif) no-repeat center center; HEIGHT: 16px">
<a style="COLOR: #000; FONT-SIZE: 12px" href="$|href2|$">凯迪克</a>
</span>
</span>