Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<ul>
<li><a href="$|href0|$" target="blank">中国</a></li>
<li><a href="$|href1|$" target="blank">text1</a></li>
</ul>
<div><img src='$|img2|$' /></div> <img src='$|img3|$' /> <img src='$|img4|$' /> <img src='$|img3|$' /> <img src='$|img6|$' />

<img src="$|img7|$" border="0" height="250" width="300"><img src="$|img8|$" style="border:none;" height="0" width="0">
Best Regards!
<a style="COLOR: #000; FONT-SIZE: 12px" href="$|href3|$">凯迪克</a>