<h3>邮件打开(tracks)分析  <%= link_to '对比报表', {:controller=>'report',:action=>'track'}, :remote => false, :class => 'btn btn-mini btn-primary' %></h3>


<%= render "tracks_report" %>

<div id="track_form"></div>
