<div id="templates_title" style="margin-bottom: 20px">
  <h1 style="display:inline">Templates</h1>
  <div style="float:right">
    <%= link_to 'Add a Template', new_template_path, :class => 'btn btn-primary', remote: true, :id => 'abc' %>
  </div>
</div>
<div id="templates_form">
</div>
<div id="templates_info">
  <%= render @templates %>
</div>

<script>
	function imgurl(val)
    {
    	var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/templates/saveimgurl"
		$.ajax({
			type: 'POST',
			url: strurl,
			data: {"iu":val},
			contentType: 'multipart/form-data',
			datatype: 'json'
		});
    }
</script>
