<%- model_class = Campaign.new.class -%>
	<div class="main-content" style="width:581px;">
		<div class="page-header">
		  <h2>邮件模板</h2>
        </div>
        <div id="sel_mes" class="stream-content" style="display: block;">
          <!--邮件模板外包装 -->
          <div class="stream-manager js-stream-manager-container">
          	<div class="js-stream-manager" id="profile-stream-manager">
          		<div class="stream-container">
          			<div class="stream ">
          				<div class="js-stream-items stream-items" id="templates_info">
          					<%= render @templates %>
          		  		</div>
          			</div>
          		</div>
          	</div>
          </div>
        </div>
 
	</div>
<!--   dashboard begin   -->
    <div class="dashboard" style="width:349px; padding:20px 5px">
    	<div class="component">
    		<div style="float:right">
               <%= link_to '新建邮件模板', new_template_path, :class => 'btn btn-primary', remote: true %>
            </div>
        </div>
     	<hr class="component-spacer">
    	<div class="component">
    		<div id="form">
              <div id="templates_form"></div>
            </div>
        </div>
     	
	</div>
<!--   dashboard end   --> 
<!--   details pane   --> 
<div id="details-pane-outer">
	<div class="details-pane-shell">
		<div class="details-pane" id="details-pane" style="display: none; height: 585px; width: 415px; left: 530px; margin-top: 15px; -webkit-transition-property: none; ">
			<div class="inner-pane active">
				<div class="pane-toolbar pane-built-in">
					<a class="pane-close toolbar-control " rel="pane_close" href="javascript:void(0)">
						关闭 <span>×</span>
					</a>
					<br style="clear: both">
				</div>
				<div id="pane-load" style="overflow-y:scroll; ">
				</div>
			</div>
		</div>
	</div>
</div>
<!--   details pane  end --> 
<script type="text/javascript">
	$(function () {
   		$("a[rel=pane_close]").click(function(e) {
   			$("#details-pane").css("display","none");
     	})
	});
</script>
<script type="text/javascript">
	var strhost = window.location.host;
	var strprotocol = window.location.protocol;
	
	$(document).ready(function(){
		$("#details-pane").css("height",$(window).height() - 70);
		// 点击显示Pane_detail
		//$(".stream-item-content").click(function(e) {
		//    open_cam_pane($(this).attr("id").substring(2));
		//})
	});
	function showpane(){
		showLoading();
		$("#details-pane").css("display","block");
	    $(document).ready(function(){
	    	$("#details-pane").css("height",$(window).height() - 70);
		});
	}	

	function open_cam_pane(cam_id){
		showpane();
		var strurl = strprotocol + "//" + strhost + "/home/campaign";
	   	$.ajax({
			type: 'GET',
		    url: strurl,
		    data: {"cam_id":cam_id},
		    contentType: 'multipart/form-data',
		    datatype: 'json',
		    success:function(data)
		    {
		    	//alert(data);
		    	$("#pane-load").html(data);
		    	hideLoading();
		    },
		    error:function(xhr,r,e)
		    {
		    	alert(e);
		    	hideLoading();
		    }
		  });
	}

	//<!--   发送活动  search --> 
	function start_search(f){
		showLoading();
		//var txtq = $("#str_month").val();
		var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/home?f=" + f;
		//alert(strurl);
	    window.open(strurl,'_self');
	};
	//<!--   发送活动  search end -->
</script>

<script>
	function imgurl(val)
    {
    	var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/templates/saveimgurl"
		$.ajax({
			type: 'POST',
			url: strurl,
			data: {"iu":val},
			contentType: 'multipart/form-data',
			datatype: 'json'
		});
    }
    $("#fjzip").click(function(){
    	alert($(this).text());
    })
</script>
