<%= flash[:notice] %>
<%= stylesheet_link_tag "home_index" %>

<div id="pageBody" >
    <div class="toggle">
						 <h2 style="width:350px">FocusMail介绍&raquo</h2><br />
				 </div>
 <div class="article">
				<div class="km-info">
					<h3>背景描述：</h3>
					<p>1、 电子账单的应用，网上营业厅的普及，金融、电信、运营商等所提供的增值服务，此类需求主要在于高频率，大批量，高精准，对邮件时效性以及送达率要求极高。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2、 媒体，大型网站，沙龙式企业等等以会员为链条进行主要业务，此类需求主要在于会员身份验证，企业信息发布，电子杂志的发送，针对性以及可订阅性强。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3、 咨询，管理，咨询类企事业应用的迅速崛起，展会的推广，课程的编排，此类需求主要在于不定期，大批量发送，邮件回执率成为一个重要因素。

</p>		
				</div>
				<div class="km-info">
					<h3>市场分析：</h3>
					<p>1、 没有专业的邮件群发平台，大部分都是通过163、sina等等免费邮箱运营商所提供的平台结合群发工具发送，甚至是通过注册成成百上千个免费邮箱进行smtp随机切换来实现大规模邮件群发。这种做法不科学，属于投机型发送，费时费力，效果差。<br> 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2、 没有专业的邮件群发服务，遍观市场，关于群发理论以及机制研究者甚少，能够真正提供群发服务，保证邮件送达率少之又少，更不要说能够根据客户实际情况进行邮件生产机的对接，客户其他应用系统的整合，大部分群发仅仅局限于浅层次小作坊式的发送，没有专业机构为企业，单位的群发提供保质保量的技术服务。<br> 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3、 群发邮件反馈效果差，主要体现在回执率低，发送效果统计薄弱，不能有针对性的对退信进行分析，筛选，导致错误一遍一遍的重复，对于一些精准性要求高的客户不能实时的反馈并且分析出原因。</p>	
				</div>
				<div class="km-info">
					<h3>关于FocusMail：</h3>
					<p>1、 FocusMail邮件代发由一支专业的营销技术团队为企业服务，结合用户需求、收件人群体特征策划最合适您的群发方案。专业的邮件营销技巧在节约企业人力物力的同时，更好的保证了邮件送达率和邮件营销效果。全程跟踪邮件群发情况，输出监测报告及效果分析，按发送成功量计费。<br> 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2、 邮件发送的维护：如果是邮件平台自身决定了邮件群发的效率以及速度，那么对方是否接收则决定了邮件的送达率，送达率是牵扯到目标服务器甚至整个互联网规则的结果反馈。<br> 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3、 发送统计指对邮件发送的情况进行统计，对于邮件发送进行效果分析，完全透明化操作，对投递邮箱地址进行分门别类统计，可以随时查看日发送量，总发送量，成功量，各个失败原因，做好有的放矢。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp效果统计指邮件发送成功之后客户的反馈。邮件点开率，链接点击率应有尽有，并且可以具体到邮箱列表，而不单单是一个数字，让你的邮件发送效果更加直观！

</p>
				</div>
				<div class="km-info">
					<h3>服务范围：</h3>
					<p>FocusMail邮件群发平台主要应用于电子帐单、电子周刊、会员通知、服务推广、客户维护等邮件投递业务。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp方便，安全，高效是这项技术的基础，它不会限制您的活动，从而让您成功开展精准性邮件投递活动。而且更为重要的是：可以让您接触，激励，维系您的目标客户。

</p>		
				</div>
				
 </div>
</div>

<script type="text/javascript">
  $(function(){
     var pcount = $(".article .km-info").children("p").length;
     $("p").hide();
     $(".article").css("overflow","auto");
     $('.toggle').click(function(){  
       if($("p:visible").length>pcount/2)
          $("p").hide(1000);
        else{
				      $("p:hidden").show(1000);
				      $('.article').toggleClass("overflow-y");
         }
      });
      $('.km-info').click(function(){
       $p=$(this).find('p');
       if($p.is(":visible")) $p.hide();
       else                  $p.show();
      });   
  });  
</script> 


