	<div class="main-content" style="width:520px;">
		<div class="page-header">
        	<h2>发送时间线 <small> 2012年</small></h2>
        </div>
        <div id="sel_mes" class="stream-content" style="display: block;">
        	<%= render 'cam_list'%>
        </div>

    </div> 
    <div class="dashboard">
    	<div class="component">
    		<h3>发送时间线 <small> <a href="javascript:void(0)"  onclick="start_search('201209');"> 2012年9月 </a></small></h3>
        </div>
    	<div class="component">
    		<h3>发送时间线 <small> <a href="javascript:void(0)"  onclick="start_search('201208');"> 2012年8月 </a></small></h3>
        </div>
     	
     	
    	<div class="component">
    		<h3>发送时间线 <small> <a href="javascript:void(0)"  onclick="start_search('201207');"> 2012年7月 </a></small></h3>
        </div>
	</div>
</div>
<!--   dashboard end   --> 
<!--   details pane   --> 
<div id="details-pane-outer">
	<div class="details-pane-shell">
		<div class="details-pane" id="details-pane" style="display: none; height: 585px; width: 415px; left: 530px; margin-top: 15px; -webkit-transition-property: none; ">
			<div class="inner-pane active">
				<div class="pane-toolbar pane-built-in">
					<a class="pane-close toolbar-control " rel="pane_close" href="javascript:void(0)">
						关闭 <span>×</span>
					</a>
					<br style="clear: both">
				</div>
				<div id="pane-load" style="overflow-y:scroll; ">
				</div>
			</div>
		</div>
	</div>
</div>
<!--   details pane  end --> 
<script type="text/javascript">
	$(function () {
   		$("a[rel=pane_close]").click(function(e) {
   			$("#details-pane").css("display","none");
     	})
		$("a[rel=show_weibo]").click(function(e) {
		    $("#sel_mes").css("display","block");
		    $("#userselect").css("display","none");
		})
		$("a[rel=show_people]").click(function(e) {
		    $("#sel_mes").css("display","none");
		    $("#userselect").css("display","block");
		})
	});
</script>
<script type="text/javascript">
	var strhost = window.location.host;
	var strprotocol = window.location.protocol;
	
	$(document).ready(function(){
		$("#details-pane").css("height",$(window).height() - 70);
		$(".stream-item-content").click(function(e) {
		    open_cam_pane($(this).attr("id").substring(2));
		})
	});
	function showpane(){
		showLoading();
		$("#details-pane").css("display","block");
	    $(document).ready(function(){
	    	$("#details-pane").css("height",$(window).height() - 70);
		});
	}	

	function open_cam_pane(cam_id){
		showpane();
		var strurl = strprotocol + "//" + strhost + "/home/campaign";
	   	$.ajax({
			type: 'GET',
		    url: strurl,
		    data: {"cam_id":cam_id},
		    contentType: 'multipart/form-data',
		    datatype: 'json',
		    success:function(data)
		    {
		    	//alert(data);
		    	$("#pane-load").html(data);
		    	hideLoading();
		    },
		    error:function(xhr,r,e)
		    {
		    	alert(e);
		    	hideLoading();
		    }
		  });
	}

	//<!--   发送活动  search --> 
	function start_search(f){
		showLoading();
		//var txtq = $("#str_month").val();
		var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/home?f=" + f;
		//alert(strurl);
	    window.open(strurl,'_self');
	};
	//<!--   发送活动  search end -->
</script>


