<h3>链接点击(clicks)分析 <%= link_to '对比报表', {:controller=>'report',:action=>'click'}, :remote => false, :class => 'btn btn-mini btn-primary' %></h3>

<%= render "clicks_report" %>

<div id ="click_form"></div>


