<p> <%= @resource.email %> 您好!</p>

<p>有人申请发送链接来重置您在Focus Mail中的密码, 您可以点击下面链接来创建新的密码.</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是您请求的操作, 请忽略本邮件.</p>
<p>只要不操作上面的链接, 您的密码不会被修改.</p>
