   <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Focus Mail</a>
        <div class="container nav-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </div>
   </div>
 
    <div class="container">
						<!--up leval-->
						<div class="row">
								<div class="span8">
									<h1 style="margin-top:15px;">Openfind Mailcloud Service</h1>
									<h2 style="color:white;padding-left:25px;font-weight:normal;">Focus Mail</h2>
								</div>
								<div class="span4">
										<div class="sign_in_bkground">
									<img src="/images/sign_in/arrow.png" style="left:-20px;bottom:-30px;position:absolute;">
										<form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="ZChUnZaPSbBOl5J3xGYiTgeIVIBNsOAE1HjKtBT5o1g=" type="hidden"></div>
											<div>
											<input id="user_email" name="user[email]" size="30" type="email" placeholder="username or email">
											</div>
											<div>
											<input id="user_password" name="user[password]" size="30" type="password" placeholder="password">
											</div>

												<div>
												<input name="commit" value="Sign in" type="submit" class="btn">
												<input name="user[remember_me]" value="0" type="hidden">
												<input id="user_remember_me" name="user[remember_me]" value="1" type="checkbox"><span style="color:white;"> Stay Sign in</span>
												</div>
										</form>
										</div><!--sign_in_bkground-->
						</div>
					 </div>
						<!--below leval-->
						<div class="row">
						<div class="span8" style="margin-left:-100px;height:395px;">
						 	<div class="et">
									<div class="img1" style="margin-bottom:10px;"></div>
									<div class="img2" style="margin:0px 10px 70px 30px;"></div>
									<div class="img2" style="margin:-10px 10px 30px 30px;"></div>
									<div class="img2" style="margin:-10px 10px 0px 30px;"></div>
									<div class="img2" style="margin:-10px 10px -30px 30px;"></div>
									<div class="img2" style="margin:-10px 10px -60px 30px;"></div>
									<div class="img2" style="margin:-90px 10px -10px 30px;"></div>
									<div class="img2" style="margin:-90px 10px -10px 10px;"></div>
									<div class="img2" style="margin:-90px 10px -30px -10px;"></div>
									<div class="img1" style="margin:-90px 25px -50px -10px;"></div>
									<div class="img2" style="margin:-90px 25px -70px -10px;"></div>
									<div class="img1" style="margin:-90px 25px -90px -10px;"></div>
									<div class="img2" style="margin:-90px 10px -110px -15px;"></div>
									<div class="img2" style="margin:-90px 10px -110px -535px;"></div>
									<div class="img2" style="margin:-90px 10px -130px -15px;"></div>
									<div class="img1" style="margin:-90px 10px -170px -15px;"></div>
									<div class="img2" style="margin:-90px 10px -170px 10px;"></div>
									<div class="img2" style="margin:-90px 10px -130px -115px;"></div>
									<div class="img2" style="margin:-90px 10px -160px 20px;"></div>
									<div class="img3" style="margin:-90px 10px -190px -10px;"></div>
									<div class="img2" style="margin:-90px 10px -180px 5px;"></div>
									<div class="img2" style="margin:-90px 10px -180px 35px;"></div>
									<div class="img1" style="margin:-90px 10px -160px 0px;"></div>
									</div>
						</div>
						<div class="span4">
						</div>
				</div><!--/row-->
				<div class="row">
				  <div class="span12">
  	    <p style="text-align:center;color:white;">Copyright © IntFocus 2012</p>
					 </div>
					</div>
    </div> <!-- /container -->

